[submodule "Muto/vendor/spdlog"]
	path = Muto/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Muto/vendor/GLFW"]
	path = Muto/vendor/GLFW
	url = https://github.com/nomadiidamon/glfw
[submodule "Muto/vendor/imgui"]
	path = Muto/vendor/imgui
	url = https://github.com/nomadiidamon/imgui
[submodule "Muto/vendor/glm"]
	path = Muto/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Muto/vendor/yaml-cpp"]
	path = Muto/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Muto/vendor/ImGuizmo"]
	path = Muto/vendor/ImGuizmo
	url = https://github.com/nomadiidamon/ImGuizmo
